.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0,0,0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  


 /* Other styles */
scrollbar-width: thin; /* Hide scrollbar for Firefox */
-ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
 &::-webkit-scrollbar {
      width: 5px; /* Set the width of the scrollbar */
    }
    &::-webkit-scrollbar-thumb {
      background-color: #555; /* Color of the scrollbar thumb */
      border-radius: 10px; /* Round the edges of the scrollbar thumb */
    }
  
  
    .popup-content {
      max-height: 100vh;
      width: 800px; // Set maximum height of the popup content to 80% of viewport height
      overflow-y: scroll;
      overflow-x: hidden; // Add a vertical scrollbar when content exceeds maximum height
      /* Other CSS properties */
      scrollbar-width: thin; /* Hide scrollbar for Firefox */
      -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
       &::-webkit-scrollbar {
            width: 1px; /* Set the width of the scrollbar */
          }
          &::-webkit-scrollbar-thumb {
            background-color: #555; /* Color of the scrollbar thumb */
            border-radius: 10px; /* Round the edges of the scrollbar thumb */
          }

    }
    
.popup-content ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.popup-content li {
  color: white;
  margin-bottom: 10px;
}

  
  p {
    font-size: 12px;
    margin-bottom: 22px;
    height: 2000px;
    overflow-y: scroll;
  }

  &-content {
    background-color: rgb(17, 17, 17);
    width: 100%;
    height:max-content;
    border-radius: 5px;
    padding: 20px;
  }

  &-close {
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      color: #ff4848;
    }
  }

  button {
      border: none;
      outline: none;
      background-color: #ffb902;
      color: black;
      padding: 12px 22px;
      border-radius: 6px;
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 18px;
      cursor: pointer;
      font-weight: bold;
      margin-top: 24px;
      transition: all ease 0.3s;

      &:hover {
        background-color: #ff4848;
      }
    }

    .popup-header {
      height: 40rem;
      width: 100%;
      overflow: hidden;
      margin-bottom: 32px;
      position: relative;

      &-category {
        background: rgb(255, 166, 0);
        color: rgb(0, 0, 0);
        margin: 0;
        padding: 12px 24px;
        border-radius: 20px;
        position: absolute;
        bottom: 25px;
        left: 25px;
        text-align: center;
        text-shadow: #000000;
        text-shadow: 40px;
      }

      img{
        width: 100%;
        height: 90%;
        margin-top: 10;
      }
    }
}

.dish-ingredients {
  margin-bottom: 22px;
  li{
    background-color: #ffb902;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    border-radius: 32px;
    font-size: 17px;
    width: fit-content;
    grid-row: auto;
    flex-wrap: wrap;
    
  }
}
.it2{
  color: white;
}
.row{
  grid-row: span;
}
.it3{
  color: white;
}
.it1{
  color: white;
}
p-e{
  border-radius: 30px;
};
.Inc{
  background-color:#ffb902;
  font-weight: 500;
  border-radius: 30px;
  gap: 20px;
}

@media (min-width: 200px) and (max-width: 900px) {
  
  .popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0,0,0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    width: 100%;
  
  
   /* Other styles */
  scrollbar-width: thin; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
   &::-webkit-scrollbar {
        width: 5px; /* Set the width of the scrollbar */
      }
      &::-webkit-scrollbar-thumb {
        background-color: #555; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Round the edges of the scrollbar thumb */
      }
    
    
      .popup-content {
        max-height: 100vh;
        width: 100%; // Set maximum height of the popup content to 80% of viewport height
        overflow-y: scroll;
        overflow-x: hidden;
        /* Other CSS properties */
        scrollbar-width: thin; /* Hide scrollbar for Firefox */
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
         &::-webkit-scrollbar {
              width: 1px; /* Set the width of the scrollbar */
            }
            &::-webkit-scrollbar-thumb {
              background-color: #555; /* Color of the scrollbar thumb */
              border-radius: 10px; /* Round the edges of the scrollbar thumb */
            }
  
      }
      
  .popup-content ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }
  
  .popup-content li {
    color: white;
    margin-bottom: 10px;
  }
  
    
    p {
      font-size: 12px;
      margin-bottom: 22px;
      height: 2000px;
      overflow-y: scroll;
    }
  
    &-content {
      background-color: rgb(17, 17, 17);
      width: 100%;
      height:max-content;
      border-radius: 5px;
      padding: 20px;
    }
  
    &-close {
      position: absolute;
      top: 25px;
      right: 25px;
      color: white;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      transition: all ease 0.3s;
  
      &:hover {
        color: #ff4848;
      }
    }
  
    button {
        border: none;
        outline: none;
        background-color: #ffb902;
        color: black;
        padding: 12px 22px;
        border-radius: 6px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 18px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 24px;
        transition: all ease 0.3s;
  
        &:hover {
          background-color: #ff4848;
        }
      }
  
      .popup-header {
        height: 19rem;
        overflow: hidden;
        margin-bottom: 32px;
        position: relative;
        width: 260px;
  
        &-category {
          background: rgb(255, 166, 0);
          color: rgb(0, 0, 0);
          margin: 0;
          padding: 12px 24px;
          border-radius: 20px;
          position: absolute;
          bottom: 25px;
          left: 25px;
          text-align: center;
          text-shadow: #000000;
          text-shadow: 40px;
        }
  
        .img-small {
          display: none;
        }
        
        @media screen and (max-width: 899px) {
          .img {
            display: none;
          }
          .img-small {
            display: block;
            border-radius: 20px;
            height: 100%;
            width: 100%;
          }
        }
        
      }
  }
  
  .dish-ingredients {
    margin-bottom: 22px;
    li{
      background-color: #ffb902;
      color: rgb(0, 0, 0);
      padding: 8px 12px;
      border-radius: 32px;
      font-size: 17px;
      width: fit-content;
      grid-row: auto;
      flex-wrap: wrap;
      
    }
  }
  .it2{
    color: white;
  }
  .row{
    grid-row: span;
  }
  .it3{
    color: white;
  }
  .it1{
    color: white;
  }
  p-e{
    border-radius: 30px;
  };
  
}

