@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
.Brand{
  text-shadow: 10px;
 font-style: normal;
 font: 100;
 text-rendering: optimizeSpeed;
 font-family: 'Bruno Ace SC', cursive;
 font-variant: small-caps;
  }
  .in{
    color-scheme:#000000;
  }
  .cti {
    align-items: center;
    background-color: #6019bd;
    padding: 17px 30px;
    border: 3px solid transparent;
    border-radius: 0.6em;
    transition: 0.2s;
    width: 120px;
    height: 40px;
    text-align: center;
    display: flex;
  }
  
  .cti:hover {
    background-color: transparent;
    border: 3px solid #6019bd;
    box-shadow: 0px 0px 27px 5px #ffc400;
  }
  
  .CTI {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    border-right: 4px solid transparent;
    white-space: nowrap;
    margin: centre;
  }
  
  .cti:hover .CTI {
    border-right: 4px solid #6019bd;
    animation: letters 1.75s steps(22, end),
      cursor .4s step-end infinite;
  }
  
  @keyframes letters {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes cursor {
    from {
      border-color: transparent
    }
  
    50% {
      border-color: #6019bd
    }
  }
  .re{
    top: 10px;
  }
  .burger {
    position: relative;
    width: 35px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    display: block;
    color: white;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }
  .Navbar.Collapse{
    margin-right: 0;
  }
  /* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  align-items: center;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}


.theme{
  margin-right: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Font+Name&display=swap');

.text-centre{
  text-align: center;
  max-width: 680px;
  margin: auto;
  font-family: 'Bruno Ace SC', cursive;

}
.me-2{
  height: fit-content;
  align-items: center;
}
.button {
  size: 150px;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 14px;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
  box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
  overflow: hidden;
  cursor: pointer;
  margin-left: 7px;
  margin-bottom: 10px;
}

.button > span {
  z-index: 2;
}

.button::before {
  content: 'Category';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: black;
  z-index: -1;
  overflow: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}

.button:hover {
  color: #e8e8e8;
}

.button:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
/* Adding custom styles to a container element with a scrollbar */
.container {
  scrollbar-width: 1px; /* Hiding the scrollbar for Firefox */
  -ms-overflow-style: none; /* Hiding the scrollbar for Internet Explorer and Edge */
}

/* Hiding the scrollbar for Chrome, Safari, and Edge */
.container::-webkit-scrollbar {
  display: none;
}

/* Styling the scrollbar track */
.container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Styling the scrollbar thumb */
.container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Adding hover styles to the scrollbar thumb */
.container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Example styles for an unordered list */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

ul li {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

ul li:last-child {
  border-bottom: none;
}

ul li a {
  color: #333;
  text-decoration: none;
}

ul li a:hover {
  color: #666;
  text-decoration: underline;
}
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Sedgwick+Ave+Display&display=swap');
.fb{
font-family: 'Bruno Ace SC', cursive;
}

  @import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
.fs{
  font-family: 'Sedgwick Ave Display', cursive;
}
/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 4rem;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.upload-btn-label {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn-label:hover {
  background-color: transparent;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-email {
  font-size: 18px;
  margin-bottom: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.AppLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  background-color: black;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform-origin: center;
  transition: 1s;
  border-radius: 50px;
  box-shadow: inset 0px 0px 10px purple,
  inset 5px 5px 12px rgba(44, 0, 114, 0.8),
  inset 8px 8px 1px rgba(160, 120, 255, 0.7),
  0px 0px 1px rgba(160, 120, 255, 0.6);
  animation: 1.2s linear infinite 0s running first682;
}

.loader div {
  width: inherit;
  height: inherit;
  position: absolute;
}

#first {
  transform: rotate(90deg)
}

#first::before {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
  0px 0px 2px white;
  border-radius: 50px;
  animation: 0.8s ease-in 0s infinite running jump2;
}

#second {
  transform: rotate(90deg);
}

#second::before {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
  0px 0px 2px white;
  border-radius: 50px;
  animation: 1.5s ease-in 0s infinite running jump2;
}

#third {
  transform: rotate(90deg)
}

#third::before {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
  0px 0px 2px white;
  border-radius: 50px;
  animation: 1.6s ease-in 0s infinite running jump2;
}

.loader::after {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
  0px 0px 2px white;
  border-radius: 50px;
  animation: 1.2s ease-in 1s alternate infinite running jump2;
}

@keyframes first682 {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0deg);
    transform: rotate(90deg)
  }

  50% {
    transform: rotate(90deg);
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(180deg);
    transform: rotate(270deg)
  }

  100% {
    transform: rotate(270deg);
    transform: rotate(360deg);
  }
}

@keyframes jump2 {
  0% {
    top: 100%;
  }

  25% {
    top: 230%
  }

  50% {
    top: 100%;
  }

  75% {
    height: 0.6em
  }

  100% {
    height: 1em
  }
}
