
.li{
  display: flex;
  flex-wrap: nowrap;
  padding-left: 1rem;
  color: blue;
  font-size: medium;

}
.ul{
 font-size: medium;
 font-family: sans-serif;
 font-weight: 100;
 
};
@media(min-width: 100%){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}
.card {
  margin-right: 10px;
}


.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
  filter 200ms linear,
  transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}


.card__heading{
 color: white;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  margin-top: 10px;
  margin-left: 40px;
  text-shadow: black;
  font-size: medium;
  text-transform: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeSpeed;
  text-justify:newspaper;
  text-align: center;
}

.left-btn{
 position: absolute;
}
.right-btn{
  position: absolute;
  margin: 0;
 }
 
 button {
  padding: 15px 25px;
  border: unset;
  border-radius: 30px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 500;
  font-size: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  font-size: medium;
  text-transform: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 20px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }
 .category-buttons button {
  margin-right: 10px;
}
@media (min-width: 300px) {

  .li{
    display: flex;
    flex-wrap: nowrap;
    color: blue;
    font-size: medium;
  
  }
  .ul{
   font-size: medium;
   font-family: sans-serif;
   font-weight: 100;
   
  };
  
.card{
  list-style: none;
  position: relative;
}
.card {
  margin-right: 1rem;
}
.card-grid{
  grid-template-columns: repeat(4, 1fr); 
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 30rem;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
  filter 200ms linear,
  transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}


.card__heading{
 color: white;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  margin-top: 10px;
  margin-left: 40px;
  text-shadow: black;
  font-size: medium;
  text-transform: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeSpeed;
  text-justify:newspaper;
  text-align: center;
}

.left-btn{
 position: absolute;
}
.right-btn{
  position: absolute;
  margin: 0;
 }
}
