/* Importing a font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* Setting global styles for the body element */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Sedgwick Ave Display', cursive; /* Adding custom font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 align-items: center;
}

/* Adding scrolling functionality to the body element */
body {
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1px;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}


/* Setting custom styles for the code element */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
